.randomColor() {
  @randomColor: `(Math.random()*0xFFFFFF<<0).toString(16)`;
  @colorHex: e(@randomColor);
  @color: ~"#@{colorHex}";
}

.s1 { .randomColor(); background-color: @color; }
.s2 { .randomColor(); background-color: @color; }
.s3 { .randomColor(); background-color: @color; }
.s4 { .randomColor(); background-color: @color; }
.s5 { .randomColor(); background-color: @color; }
.s6 { .randomColor(); background-color: @color; }