body {
	font-family: Arial, Helvetica, Sans-serif;
}
button { 
	display: block; 
	margin: 3px; 
	padding: 2px 20px; 
	font-size: 20px; 
	border-radius: 5px;
	box-shadow: #000 1px;
}
.souvenirs {
	padding: 0;
	width: 800px;
	height: 800px;
	background: white;
	border: black 10px solid;
	border-collapse: collapse;
}
.souvenir {
	position: relative;
	display: inline-block;
	width:395px;
	height: 260px;
	background: #CCC;
	font-size: 14px;
}
.souvenir div {
	position: absolute;
	width: 100%;
	height: 100%;
	color: white;
	background-color: rgba(0, 0, 0, 0.0);
	transition: font-size 0.6s,
				background-color 0.6s;
}
.souvenir div:hover {
	font-size: 120%;
	background-color: rgba(0, 0, 0, 0.2);
	transition: font-size 0.6s, 
				background-color 0.6s;
}
.souvenir div p {
	margin: 20px;
}
.souvenir:nth-child(even) {
	float: right;
	margin: 0 0 10px;
}
.souvenir:nth-child(odd) {
	float: left;
	margin: 0 0 10px;
}
@media screen and (max-width: 768px) {
	.souvenirs {
		width: 90%;
		height: 1610px;
		margin: auto;
	} 
	.souvenir {
		width: 100%;
		font-size: 24px;
	}
}